* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

hr {
  border: 1.5px solid black;
}

h1,
h2,
h3,
h4 {
  overflow-wrap: anywhere;
}

/* HEADER-NAV */

.navbar {
  position: sticky;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  background-color: #2c2c2c;
  box-shadow: 0 0 10px #2c2c2c;
  z-index: 99;
  top: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

nav ul li {
  list-style: none;
  cursor: pointer;
  color: white;
}

nav ul li:hover {
  transform: translateY(-3px);
  transition: all 0.2s;
  font-weight: bold;
}

.store {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.store img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.store h1,
.footer-top-side h2 {
  color: white;
}

.store h1 span,
.footer-top-side h2 span {
  color: rgb(0, 148, 216);
}

.navbar-menu {
  display: none;
  align-items: center;
  justify-content: center;
}

.navbar-menu img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.inner-content {
  padding: 1rem;
}

header {
  background-color: rgb(212, 212, 212);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.image-close {
  flex: 1;
  text-align: center;
}

.image-close h2 {
  margin: 1rem 0;
  font-size: 2rem;
}

.image-close p {
  margin: 1rem 0;
  font-size: 1rem;
}

.image-close button {
  background-color: rgb(0, 81, 255);
  color: white;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
  width: 25vw;
  min-width: 130px;
  border: solid 1px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

.image-close button:hover {
  background-color: rgb(5, 45, 131);
}

.img-preview {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.img-preview img {
  max-width: 90vw;
  max-height: 90vw;
  transition: all 0.2s;
}

.menu-visible {
  display: block;
}

/* MAIN */

.translate-y {
  transition: all 0.2s;
  cursor: pointer;
}

.translate-y:hover {
  transform: translateY(-5px);
}

.main-image-apresentation {
  display: flex;
  flex: 1;
  padding: 3rem 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #2c2c2c;
}

.image-apresentation {
  width: 29vw;
}

#products-container {
  gap: 2rem;
}

.main-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-title {
  margin: 3rem 0;
  font-size: 1.5rem;
  border-bottom: 3px solid rgb(0, 81, 255);
  padding-bottom: 5px;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.product-card {
  display: grid;
}

.product-card h3 {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.product-card p span {
  font-size: 1rem;
  font-weight: bold;
}

.product-card img {
  width: 20vw;
  margin: 0.5rem 0;
  min-width: 120px;
  justify-self: center;
}

#main-text-apresentation button {
  border-color: #2c2c2c;
}

.main-prod-apresentation {
  background-color: #2c2c2c;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0;
}

/* FOOTER */

footer {
  display: flex;
  background-color: #2c2c2c;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  gap: 1rem;
}

.footer-top-side {
  width: 100%;
  text-align: center;
}

.footer-top-side h2 {
  margin: 1rem 0;
}

.footer-bottom-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-download-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.footer-download-links img {
  min-width: 100px;
  width: 25vw;
}

.footer-download-available h4 {
  color: white;
  margin: 1rem 0;
}

/* MEDIA */

@media only screen and (max-width: 620px) {
  .navbar {
    padding: 1rem 1rem;
    transition: padding 0.5s;
    position: relative;
  }

  nav {
    display: none;
    position: absolute;
    background-color: #2c2c2c;
    top: 77px;
    left: 5%;
    align-self: center;
    width: 90%;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  nav ul li {
    font-size: 1rem;
    padding: 1rem;
  }

  .navbar-menu {
    display: flex;
    justify-content: flex-end;
    flex: auto;
  }

  .main-title {
    font-size: 1.2rem;
  }

  #header-text-apresentation h2,
  #main-text-apresentation h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .store h1 {
    display: none;
  }

  .main-image-apresentation {
    display: grid;
    justify-content: center;
  }

  .image-apresentation {
    width: 90vw;
  }
}
